* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;

  -moz-text-size-adjust: none;

  -webkit-text-size-adjust: none;

  -ms-text-size-adjust: none;

  font-size-adjust: none;
}

body {
  background-color: #f8f8fa;
  font-size: rem;
  /*10/12=0.833, font-size:10px*/
}

main {
  background-color: #ffffff;
  width: 90vw;
  margin: 0 auto;
}

#heading {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
}
#heading-title {
  margin-left: 10vw;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.5mm;
}
#direction {
  background-color: #e1fae5;
  padding: 1%;
  border: none;
  border-radius: 10px;
}
#heading-dropdown {
  margin-right: 10vw;
}
select {
  background-color: white;
  padding: 4%;
  width: 100%;
  cursor: pointer;
  border: 3px solid #f8f8fa;
  border-radius: 3px;
}
progress::-moz-progress-bar {
  background: lightblue;
}
#graph > ol > li > span {
  font-size: 1rem;
}
#summary {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  border-bottom: 10px solid #f8f8fa;
  padding-bottom: 2%;
}
.user-details > div > p {
  font-size: 0.5rem;
  transform: scale(1.2); /*10/12=0.833, font-size:10px*/
}

#total,
#stars {
  padding: 2%;
  border-right: 1px solid #e6e6e6;
}
#total > p:nth-child(2),
p:nth-child(3) {
  margin-top: 2%;
}
#total > p:nth-child(3) {
  color: gray;
  font-size: 0.5rem;
}

.fa-star {
  color: #f7ba2b;
}

ol > li > span {
  font-size: 0.5rem;
}
/*reviews section*/
#reviews-section {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

.user-review > div > span:nth-child(2) {
  font-size: 24px !important;
}
.reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4%;
}
.user_img {
  border: none;
  border-radius: 10px;
}
.user_img:hover {
  border: 6px solid #add8e6;
  border-radius: 10px;
}
.user-details {
  margin-left: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 30vw;
}
h4 {
  font-size: 1rem;
}
.user-details > div > p {
  font-size: 1rem;
  color: gray;
}
.user-details > div > p > b {
  font-size: 0.5rem;
  color: black;
}

.user-review {
  margin-right: 10vw;
  width: 50vw;
}
.user-review > div {
  margin-bottom: 2%;
}

.user-review > div > span:nth-child(2) {
  color: gray;
  font-size: 0.5rem;
}
.user-review > p {
  color: #58646d;
  font-size: 1rem;

  font-weight: lighter;
}
#review-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2%;
}

#review-btns > button {
  padding: 1%;
  padding-left: 4%;
  padding-right: 4%;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  display: inline-block;
  transition-duration: 0.4s;
}
#button1:hover,
#button2:hover {
  background-color: #add8e6;
  color: white;
}
.fa-heart {
  font-size: 24px;
}
.fa-heart:hover {
  color: #add8e6;
}
